.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #05032b;
}

.typed {
  padding: 20px;
  background-color: white; 
  color: black;
  text-shadow : 2px 2px grey;
  border-radius: 10px;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 2rem
}
