.App {
  text-align: left;
  
}

.App-logo {
  height: 40vmin;
  align-items: center;

}

.App-header {
  background-color: rgba(226, 223, 247, 0.068);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #05032b;
}

.typed {
  padding: 20px;
  background-color: black; 
  color: white;
  border-radius: 10px;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 2rem;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40%;
  margin-top:5px;
  margin-bottom: 5px;
  object-fit: contain;
  background:nhi black;
}

a{
  text-decoration: none;
  font-family: 'Righteous', cursive;

}